    @import '../../../colors.scss';

.bg-light{
    background-color: $fondo !important;
}
header {
    background-color: #37628e;
}

header .logo {
    width: 200px;
}

header nav a, header .nav {
    color: $colorWeb;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px
}

header .nav a:hover {
    color:$colorOscuro;
    text-decoration: none;
}

header .nav a.active {
    color:$colorOscuro;
}

header .nav .avatar {
    // background-color: transparent;
    border: none;
    color: $colorWeb;
    background-color: white;
}

.dropdown-menu .drop {
    color: var(--bg);
}

.dropdown-menu .drop:hover {
    color: var(--bg);
}

.dropdown-toggle {
    color: white;
}

header .nav .login-btn {
    background-image: linear-gradient(to right, #e50914, #cc0d1f, #b50f27);
    color: white;
    padding: 8px 20px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-size: 200%;
    transition: .5s ease;
}

header .nav .login-btn:hover {
    background-position: right;
}






