<header>
  <div class="container">
    <div class="row">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
         <ul class="nav">
           <li class="nav-item">
               <a href="http://www.facebook.com"><i class="fa fa-facebook-f"></i></a>
           </li>
           <li class="nav-item">
               <a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
           </li>
           <li class="nav-item">
               <a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
           <li class="nav-item">
               <a href="http://www.vk.com"><i class="fa fa-vk"></i></a>
           </li>
           <div class="col-auto add-seperator logIn">
             <div class="sequex-user-menu text-right" *ngIf="!usersService.getUser()" > 
              <a routerLink="login" data-toggle="modal" data-target="#sequex-loginform">
                  <span>Log in </span><i class="fa fa-sign-in"></i></a>
             </div>
             <div class="sequex-user-menu text-right"  *ngIf="usersService.getUser()" > 
              <a (click)="logout()" data-toggle="modal" data-target="#sequex-loginform">
                  <span >Log out </span><i class="fa fa-sign-in"></i></a>
             </div>
           </div>
         </ul>
        </div>
  <div class="row">
      <a routerLink="/"><img src="../../../assets/image/log.jpeg" alt="logo" class="logo"></a>
      <nav>
        <a routerLink="/admin" class="admin">Administrador</a>
        <a routerLink="" routerLinkActive="active">Home</a>
        <a routerLink="movie" routerLinkActive="active">Movies</a>
        <a routerLink="login" *ngIf="!usersService.getUser()" routerLinkActive="active">Login</a>
        <a routerLink="register" *ngIf="!usersService.getUser()" routerLinkActive="active">Register</a>
        <div class="btn-group" *ngIf="usersService.getUser()">
          <button type="button" class="avatar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item drop" routerLink="/user/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item drop" href="#">+AddImagen</a>
            <a class="dropdown-item drop" routerLink="/user/editProfile" href="#">Edit Profile</a>
            <a class="dropdown-item drop" routerLink="/user/orders" href="#">Ver Pedidos</a>
          </div>
        </div>
      </nav>
      <!-- <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search your movie...">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div> -->
    </div>
    </div>
</header>




        
      