.container{
    display: flex;
    justify-content: center;
}
.listMovie, .listUser{
width: 50em;
    a{
      display: flex;
      justify-content: center;  
    }
    .element{
        display: flex;
        justify-content: space-evenly;
        width: 25em;
        .form-control{
            width: 20em;
            margin: 10px;
        }
        i{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 4px;
        }
    }
            .detalls{
                display: flex;
               flex-direction:column ;
                justify-content: space-evenly;
                width: 30em;
                .form-control{
                    width: 20em;
                    margin: 10px;
                }
                i{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 4px;
                }
            }

}
.listMovie{

}

.movie{
    all: unset;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 1em;
    width: 30em;
}