<!-- <div class="container">
    <div class="content">
      <div class="header">
        <p>imagenupload</p>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <span id="btnUpload " class="input-group-text upload" (click="upload()")>
              subir
            </span>
          </div>
          <div class="custom-file">
            <form action="">
              <input type="file" class="custom-file-input" id="input-custom-file" (change)="filechange($event)">
              <label for="custom-file-label">slect</label>
  
            </form>
          </div>
        </div>
  
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  </div> -->