/* .container{
    display: flex;
    justify-content: space-between;
   
}
.list{
width: 25em;
    a{
      display: flex;
      justify-content: center;  
    }
    .element{
        display: flex;
        justify-content: space-evenly;
        .form-control{
            width: 10em;
            margin: 10px;
        }
           i{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 4px;
        }
    }
            .detalls{
                display: flex;
               flex-direction:column ;
                justify-content: space-evenly;
                width: 30em;
                .form-control{
                    width: 20em;
                    margin: 10px;
                }
                i, .btn{
                    display: flex;
                    height: 2em;
                    flex-direction: column;
                    justify-content: center;
                }
            }

}


.basic{
    width: 20em;
} */