<main>
  <section class="container-fluid wrapper d-flex justify-content-between">
    <article>
      <p>Caracteristicas</p>
      <p>Video Tutoriales</p>
      <p>Comprar ahora</p>
    </article>
    <article>
      <p>Facebook</p>
      <p>Instagram</p>
      <p>Twitter</p>
      <p>LinkedIn</p>
    </article>
  </section>
  <section class="container-fluid wrapper d-flex justify-content-between">
      <figure class="logo">
        <img src="../../../assets/images/logo.png" alt="Logo" />
      </figure>
    <nav class="d-flex align-items-center justify-content-end">
      <ul class="d-flex flex-row ">
        <li>Home</li>
        <li>Peliculas</li>
        <li>Conocenos</li>
        <li>Contacta</li>
      </ul>
    </nav>
  </section>
</main>
