<div class="jumbotron">
    <div class="container">
      <div class="row">
          <div class="col-md-3">
              <div class="osahan-account-page-left shadow-sm bg-white h-100">
                  <div class="border-bottom p-4">
                      <div class="osahan-user text-center">
                          <div class="osahan-user-media">
                              <img class="mb-3 rounded-pill shadow-sm mt-1" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="gurdeep singh osahan">
                              <div class="osahan-user-media-body">
                                <h6 class="mb-2">
                                <strong>
                                    {{users["nombre"]}}
                                 </strong>
                                 </h6>
                                  <p class="mb-1">   {{users["telefono"]}}</p>
                                  <p>   {{users["email"]}}</p>
                                  <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" href="#"><i class="icofont-ui-edit"></i> EDIT</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <ul class="nav flex-column border-0 pt-4 pl-4 pb-4">
                      <li class="nav-item">
                          <a class="nav-link active item" routerLink="/user/profile" routerLinkActive="active" >
                            <i class="icofont icofont-ui-user"></i>
                            Profile
                          </a>
                          <a class="nav-link active item" routerLink="/user/editProfile">
                            <i class="icofont icofont-ui-edit"></i>
                          Edit Profile
                        </a>
                          <a class="nav-link active item" routerLink="/user/orders">
                            <i class="icofont icofont-ui-cart"></i>
                          Pedidos
                          <span class="badge badge-primary badge-pill"> {{list.length}} </span>
                        </a>
                      </li>
                  </ul>
              </div>
          </div>
          <!-- profile -->
            <div class="col-md-9" id="profile">
            <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                <h5 class="mb-3">User Profile</h5>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Name</strong>
                        <p>
                            {{users["nombre"]}}
                        </p>
                        <strong>City</strong>
                        <p>
                            {{users["ciudad"]}}
                        </p>
                    </div>
                       <div class="col-md-12">
                        <h5 class="mt-2 mb-3">
                            <span class="fa fa-clock-o ion-clock float-left"></span>  Recent order</h5>
                        <table class="table table-hover table-striped">
                            <tbody>                                    
                                <tr>
                                    <div  *ngFor="let orde of Order; let i = index">
                                        <td>
                                            <strong>{{orde.titulo}}</strong> 
                                        </td>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
         
      </div>
  </div>
</div>

