
<div class="jumbotron">
    <div class="container">
      <div class="row">
          <div class="col-md-3">
              <div class="osahan-account-page-left shadow-sm bg-white h-100">
                  <div class="border-bottom p-4">
                      <div class="osahan-user text-center">
                          <div class="osahan-user-media">
                              <img class="mb-3 rounded-pill shadow-sm mt-1" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="gurdeep singh osahan">
                              <div class="osahan-user-media-body">
                                <h6 class="mb-2">
                                <strong>
                                     Name User
                                 </strong>
                                 </h6>
                                  <p class="mb-1">telefono234234</p>
                                  <p>email@gmail.com</p>
                                  <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" href="#"><i class="icofont-ui-edit"></i> EDIT</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <ul class="nav flex-column border-0 pt-4 pl-4 pb-4">
                      <li class="nav-item">
                        <a class="nav-link active item" routerLink="/user/profile" routerLinkActive="active" >
                            <i class="icofont icofont-ui-user"></i>
                            Profile
                          </a>
                          <a class="nav-link active item" routerLink="/user/editProfile">
                            <i class="icofont icofont-ui-edit"></i>
                          Edit Profile
                        </a>
                          <a class="nav-link active item" routerLink="/user/orders">
                            <i class="icofont icofont-ui-cart"></i>
                          Pedidos
                          <span class="badge badge-primary badge-pill">5</span>
                        </a>
                      </li>
                  </ul>
              </div>
          </div>
            <div class="col-md-9" id="editProfile">
                <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                  <form>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="inputFirstName">First name</label>
                              <input type="text" class="form-control" id="inputFirstName" placeholder="First name">
                          </div>
                          <div class="form-group col-md-6">
                              <label for="inputLastName">Last name</label>
                              <input type="text" class="form-control" id="inputLastName" placeholder="Last name">
                          </div>
                      </div>
                      <div class="form-row">  
                      <div class="form-group col-md-6">
                          <label for="inputEmail4">Email</label>
                          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                      </div>
                      <div class="form-group col-md-6">
                          <label for="inputAddress">Telfono</label>
                          <input type="text" class="form-control" placeholder="⁺34">
                      </div>
                    </div>
                    <div class="form-row">  
                      <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control"  placeholder="Valencia">
                    </div>
                        <div class="form-group col-md-6">
                          <label for="inputAddress2">password</label>
                          <input type="text" class="form-control" id="password" placeholder="password">
                      </div>    
                     </div> 
                     <div class="botonaz">
                         <button type="submit" class="btn btn-primary botonazo">Save changes</button>
                     </div>
                  </form>
                     
              </div>
            </div>
      </div>
  </div>
</div>

