<div class="container">
    <div class="detalls col">
        <div class="row">
         <input class="form-control form -control-lg" name="name"  placeholder="{{infomovie[0].titulo}}"> 
        </div>
        <div class="row">
         <input class="form-control form -control-lg" name="name"   placeholder="{{infomovie[0].descripcion}}"> 
        </div>
        <div class="row">
         <input class="form-control form -control-lg" name="name"   placeholder="{{infomovie[0].anyo}}"> 
        </div>
        <div class="row">
         <input class="form-control form -control-lg" name="name"   placeholder="{{infomovie[0].imagen}}"> 
        </div>
        <div class="row">
         <input class="form-control form -control-lg" name="name"   placeholder="{{infomovie[0].isEstreno}}"> 
        </div>
        <div class="row">
         <input class="form-control form -control-lg" name="name"  ngodel placeholder="{{infomovie[0].isDisponible}}"> 
        </div> 
    </div>
    <div class="bot">
        <a routerLink="../" >Back</a>
    </div>
</div>