<div class="container">
    <div class="detalls col">
        <div class="row">
         <input class="form-control form -control-lg" name="name" ngModel placeholder="Titulo"> 
        </div>
        <div class="row">
         <input class="form-control form -control-lg" name="name"  ngModel placeholder="description"> 
        </div>
        <div class="row">
         <input class="form-control form -control-lg" name="name"  ngModel placeholder="year"> 
        </div>
        <div class="row">
         <input class="form-control form -control-lg" name="name"  ngModel placeholder="imagen"> 
        </div>
        <div class="row">
         <input class="form-control form -control-lg" name="name"  ngModel placeholder="Estreno"> 
        </div>
        <div class="row">
         <input class="form-control form -control-lg" name="name"  ngModel placeholder="available"> 
        </div> 
    </div>
    <div class="bot">
        <a routerLink="admin" >Back</a>
    </div>
</div>