<div class="container">

<form #movieform="ngForm"  class="example-form">
<div class="detalls col">
    <div class="row">
     <input class="form-control form -control-lg" name="nombre" ngModel placeholder="name"> 
    </div>
    <div class="row">
     <input class="form-control form -control-lg" name="apellidos"  ngModel placeholder="lastname"> 
    </div>
    <div class="row">
     <input class="form-control form -control-lg" name="ciudad"  ngModel placeholder="city"> 
    </div>
    <div class="row">
     <input class="form-control form -control-lg" name="telefono"  ngModel placeholder="teelfono"> 
    </div>
    <div class="row">
     <input class="form-control form -control-lg" name="email"  ngModel placeholder="email"> 
    </div>
    <div class="row">
     <input class="form-control form -control-lg" name="password"  ngModel placeholder="password"> 
    </div> 
    <div class="row">
      <input class="form-control form -control-lg" name="rol"  ngModel placeholder="rol"> 
     </div>  
     <div class="bot">
        <button class="btn" type="submit" (click)="addUser(movieform)">
            save
       </button> 
         <a routerLink="../" >Back</a>
     </div>
</div>
</form>
</div>
