<div class="container">
    <div class="detalls col">
        <div class="row">
         <input class="form-control form -control-lg" name="name" ngModel placeholder="fechaRecogida"> 
        </div>
        <div class="row">
         <input class="form-control form -control-lg" name="name"  ngModel placeholder="fechaDevolucion"> 
        </div>
        <div class="row">
         <input class="form-control form -control-lg" name="name"  ngModel placeholder="estado"> 
        </div>
        <div class="row">
            <input class="form-control form -control-lg" name="name"  ngModel placeholder="UsuarioId"> 
        </div>
        <div class="row">
            <input class="form-control form -control-lg" name="name"  ngModel placeholder="PeliculaId"> 
        </div>
    </div>
    <div class="bot">
        <a >Save</a>
        <a routerLink="admin" >Back</a>
    </div>
</div>