main{
  background-color: #eeeeee;
  padding: 80px;
  margin-top: 4rem;
  border-radius: 5px;
}
.row{
  height: 500px;
}
input[type=email], input[type=password]{
  width: 350px;
  margin: 10px 0;
  padding: 20px 10px;
}
p{
  text-align: center;
  margin-top: 10px;
}
button{
  background-color: rgb(235, 91, 83) !important;
  border: none;
}