<!-- <div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <form #userform="ngForm" (submit)="loginIn(userform)">
      <input type="email" ngModel id="login" class="fadeIn second" required autofocus name="email" placeholder="email">
      <input type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$" ngModel id="password" required class="fadeIn third login" name="password" placeholder="password">
      <input type="submit" class="btn btn-primary fadeIn fourth" value="Log In">
      <input type="submit" class="btn btn-secondary fadeIn fourth" value="Invite">
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>

</div> -->

<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <main>
      <form #userform="ngForm" (submit)="loginIn(userform)" class="d-flex flex-column">
        <input type="email" ngModel class="form-control" required autofocus name="email" placeholder="Introduce tu email">
        <input type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$" title="Debe contener como minimo 8 caracteres, 1 mayuscula, 1 minuscula y 1 numero"  ngModel required class="form-control" name="password" placeholder="Introduce tu contraseña">
        <button type="submit" class="btn btn-primary" value="Iniciar sesion">Iniciar sesion</button>
        <p>¿No eres usuario? <a href="/register">Registrate</a></p>
      </form>
    </main>
  </div>
</div>