<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form #userform="ngForm">
      <input type="text" ngModel id="login" class="fadeIn second" required autofocus name="email" placeholder="email">
      <input type="password" ngModel id="password" required class="fadeIn third login" name="password" placeholder="password">
      <input type="submit" (click)="addUserLogin(userform)" class="fadeIn fourth" value="Log In">
      <input type="submit" class="fadeIn fourth" value="Invite">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
  <div *ngIf="showALert" class="alert alert-danger" role="alert">
    wrong authentification
  </div>
</div>