<div class="container">


<div class="detalls col">
  <div class="row">
   <input class="form-control form -control-lg" name="name" ngModel placeholder="{{infouser[0].nombre}}"> 
  </div>
  <div class="row">
   <input class="form-control form -control-lg" name="name"  ngModel placeholder="{{infouser[0].apellidos}}"> 
  </div>
  <div class="row">
   <input class="form-control form -control-lg" name="name"  ngModel placeholder="{{infouser[0].ciudad}}"> 
  </div>
  <div class="row">
   <input class="form-control form -control-lg" name="name"  ngModel placeholder="{{infouser[0].telefono}}"> 
  </div>
  <div class="row">
   <input class="form-control form -control-lg" name="name"  ngModel placeholder="{{infouser[0].email}}"> 
  </div>
  <div class="row">
   <input class="form-control form -control-lg" name="name"  ngModel placeholder="{{infouser[0].password}}"> 
  </div> 
   <div class="bot">
      <a routerLink="../" >Back</a>
  </div>
 </div>

</div>