@import '../../../colors.scss';
footer{
    margin-top: 8rem;
    background-color: #37628e;
}

.downFooter {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    color: gray;
    width: 200px;
    margin-right: 18%;
}

.logIn > a, i, span{
    color: gray; 
} 