@import '../../../colors.scss';
footer{
    margin-top: 4rem;
    background-color: $colorFooter;
}

.downFooter {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    color: gray;
    width: 200px;
    margin-right: 18%;
}

.logIn > a, i, span{
    color: gray; 
} 
.second-foot{
    background-color: rgb(224, 224, 224);
}