<div class="container">

  <form #Usersform="ngForm"  class="example-form">
  <div class="detalls col">
    <div class="row">
     <input class="form-control form -control-lg" name="name" ngModel value="{{infouser[0].nombre}}"> 
    </div>
    <div class="row">
     <input class="form-control form -control-lg" name="name"  ngModel value="{{infouser[0].apellidos}}"> 
    </div>
    <div class="row">
     <input class="form-control form -control-lg" name="name"  ngModel value="{{infouser[0].ciudad}}"> 
    </div>
    <div class="row">
     <input class="form-control form -control-lg" name="name"  ngModel value="{{infouser[0].telefono}}"> 
    </div>
    <div class="row">
     <input class="form-control form -control-lg" name="name"  ngModel value="{{infouser[0].email}}"> 
    </div>
    <div class="row">
     <input class="form-control form -control-lg" name="name"  ngModel value="{{infouser[0].password}}"> 
    </div> 
    <button class="btn bot" type="submit" (click)="editUsers(Usersform)">
      save
    </button> 
     <a routerLink="../" >Back</a>
   </div>
  </form>
  </div>