<div class="detalls col">
    <div class="row">
     <input class="form-control form -control-lg" name="name" ngModel placeholder="name"> 
    </div>
    <div class="row">
     <input class="form-control form -control-lg" name="name"  ngModel placeholder="lastname"> 
    </div>
    <div class="row">
     <input class="form-control form -control-lg" name="name"  ngModel placeholder="city"> 
    </div>
    <div class="row">
     <input class="form-control form -control-lg" name="name"  ngModel placeholder="teelfono"> 
    </div>
    <div class="row">
     <input class="form-control form -control-lg" name="name"  ngModel placeholder="email"> 
    </div>
    <div class="row">
     <input class="form-control form -control-lg" name="name"  ngModel placeholder="password"> 
    </div> 
    <div class="row">
      <input class="form-control form -control-lg" name="name"  ngModel placeholder="rol"> 
     </div> 
     <div class="bot">
        <a >Save</a>
        <a routerLink="admin" >Back</a>
    </div>
   </div>